In [3]:
import pandas as pd
import numpy as np
import io
import os
import matplotlib.pyplot as plt
import datetime
import seaborn as sns
import json
%matplotlib inline

In [2]:
year='2019'

In [3]:
frames=[]
cols=['StartStation Id','StartStation Name']
for file_ in os.listdir('./'+year):
    
    temp_df=pd.read_csv('./'+year+'/'+file_ , usecols=cols)#, parse_dates=['Start Date','End Date'])   
    
    
    frames.append(temp_df.loc[:,~temp_df.columns.str.contains('^Unnamed')])   
    #break

In [4]:
result = pd.concat(frames) 
df=result.copy()
df.shape

(7142806, 2)

In [6]:
station_dict={}

In [7]:
for index,row in df.iterrows():
    if row['StartStation Name'] in station_dict.keys():
        continue
    else:
        station_dict[row['StartStation Name']]=row['StartStation Id']

In [9]:

with open('station_dict.json', 'w') as fp:
    json.dump(station_dict, fp)

In [5]:
with open('station_dict.json') as json_file:
    station_dict = json.load(json_file)

## fixing 2018

In [10]:
#One file in 2018 dont have endstationid column here I try to make that col

In [9]:
df=pd.read_csv("./2018/134JourneyDataExtract31Oct2018-06Nov2018.csv")

In [10]:
df.head()

,Rental Id,Duration,Bike Id,End Date,EndStation Logical Terminal,EndStation Name,Start Date,StartStation Id,StartStation Name
0,81963538,1140,7671,03/11/2018 18:00,300041,"Finnis Street, Bethnal Green",03/11/2018 17:41,722,"Finnis Street, Bethnal Green"
1,81999133,660,5543,05/11/2018 08:52,22171,"Red Lion Street, Holborn",05/11/2018 08:41,361,"Waterloo Station 2, Waterloo"
2,82055164,600,7358,06/11/2018 20:09,22171,"Red Lion Street, Holborn",06/11/2018 19:59,18,"Drury Lane, Covent Garden"
3,82046709,240,6684,06/11/2018 17:24,1157,"Black Lion Gate, Kensington Gardens",06/11/2018 17:20,404,"Palace Gate, Kensington Gardens"
4,82013994,720,2118,05/11/2018 17:43,2696,"Waterloo Station 1, Waterloo",05/11/2018 17:31,436,"Red Lion Street, Holborn"

In [11]:
df["EndStation Id"]=''

In [13]:
for index,row in df.iterrows():
    try:
        #print(station_dict[row['EndStation Name']])
        df.loc[index,"EndStation Id"]= station_dict[row['EndStation Name']]
        
    except:        
        df.loc[index,"EndStation Id"]= ''

In [14]:
df.head()

,Rental Id,Duration,Bike Id,End Date,EndStation Logical Terminal,EndStation Name,Start Date,StartStation Id,StartStation Name,EndStation Id
0,81963538,1140,7671,03/11/2018 18:00,300041,"Finnis Street, Bethnal Green",03/11/2018 17:41,722,"Finnis Street, Bethnal Green",722
1,81999133,660,5543,05/11/2018 08:52,22171,"Red Lion Street, Holborn",05/11/2018 08:41,361,"Waterloo Station 2, Waterloo",436
2,82055164,600,7358,06/11/2018 20:09,22171,"Red Lion Street, Holborn",06/11/2018 19:59,18,"Drury Lane, Covent Garden",436
3,82046709,240,6684,06/11/2018 17:24,1157,"Black Lion Gate, Kensington Gardens",06/11/2018 17:20,404,"Palace Gate, Kensington Gardens",307
4,82013994,720,2118,05/11/2018 17:43,2696,"Waterloo Station 1, Waterloo",05/11/2018 17:31,436,"Red Lion Street, Holborn",374

In [16]:
df.to_csv("./2018/134JourneyDataExtract31Oct2018-06Nov2018.csv")

In [ ]:
#Whiteley's, Bayswater / Grant Road Central, Clapham Junction/ Grant Road West, Clapham Junction

## fixing 2016

In [22]:
year='2016'

In [24]:
frames=[]
cols=['StartStation Id','EndStation Id']
for file_ in os.listdir('./'+year):
    try:
        
        temp_df=pd.read_csv('./'+year+'/'+file_ , usecols=cols)#, parse_dates=['Start Date','End Date'])
    
    except:
        print(file_)

21JourneyDataExtract31Aug2016-06Sep2016.csv

In [25]:
df=pd.read_csv("./2016/21JourneyDataExtract31Aug2016-06Sep2016.csv")

In [26]:
df["EndStation Id"]=''
df["StartStation Id"]=''

In [27]:
for index,row in df.iterrows():
    try:
        #print(station_dict[row['EndStation Name']])
        df.loc[index,"EndStation Id"]= station_dict[row['EndStation Name']]
        
    except:        
        df.loc[index,"EndStation Id"]= ''

In [28]:
df.head()

,Rental Id,Duration,Bike Id,End Date,EndStation Logical Terminal,EndStation Name,endStationPriority_id,Start Date,StartStation Logical Terminal,StartStation Name,EndStation Id,StartStation Id
0,57834109,720.0,9392,31/08/2016 00:12,200077.0,"Vicarage Crescent, Battersea",0.0,31/08/2016 00:00,200237,"Parson's Green , Parson's Green",701,
1,57834111,69840.0,12742,31/08/2016 19:24,2637.0,"Bermondsey Street, Bermondsey",0.0,31/08/2016 00:00,2637,"Bermondsey Street, Bermondsey",321,
2,57834110,30660.0,13499,31/08/2016 08:31,1200.0,"Ontario Street, Elephant & Castle",0.0,31/08/2016 00:00,2637,"Bermondsey Street, Bermondsey",324,
3,57834106,8280.0,123,31/08/2016 02:18,300200.0,"East Village, Queen Elizabeth Olympic Park",0.0,31/08/2016 00:00,1102,"Leman Street, Aldgate",784,
4,57834107,660.0,4714,31/08/2016 00:11,22175.0,"Canton Street, Poplar",0.0,31/08/2016 00:00,1105,"LMU Commercial Road, Whitechapel",487,

In [ ]:
df.to_csv("./2016/21JourneyDataExtract31Aug2016-06Sep2016.csv")

In [ ]:
df_18[df_18['StartStation Name']== 'Grant Road Central, Clapham Junction']