In [1]:
import calendar
import pandas as pd
import numpy as np
import io
import os
from pandas import read_csv
import numpy as np # linear algebra
import random as rd # generating random numbers
import datetime # manipulating date formats
import time
import ast
from math import sqrt
# Viz
import seaborn as sns # for prettier plots
import matplotlib.pyplot as plt
%matplotlib inline
# TIME SERIES
import scipy.stats as scs
from joblib import Parallel
from joblib import delayed
from warnings import catch_warnings
from warnings import filterwarnings
from statsmodels.tsa.statespace.sarimax import SARIMAX
import seaborn; seaborn.set()
from statsmodels.tsa.api import VAR
from statsmodels.tsa.stattools import adfuller
from statsmodels.tools.eval_measures import rmse, aic
import warnings
warnings.filterwarnings('ignore')
import json
from statsmodels.tsa.statespace.varmax import VARMAX
from sklearn import preprocessing
import utils

In [2]:
df=pd.read_csv("/bigdata/tara/ind_london_2018.csv",index_col=0)
df.head()

   operator_id  bikes  spaces  total_docks            timestamp
0            1      9      10           19  2018-01-01 00:00:00
1            2     21      16           37  2018-01-01 00:00:00
2            3     12      20           32  2018-01-01 00:00:00
3            4     16       7           23  2018-01-01 00:00:00
4            5     10      17           27  2018-01-01 00:00:00

In [3]:
df_station=pd.read_csv('SampleData/sample_stations.csv',index_col=0)
df_station.head()

,ucl_id,operator_intid,operator_altid,operator_name,lat,lon,initial_bikes,initial_size,curr_bikes,curr_size,created_dt,updated_dt,neighbors_1,neighbors_2,station_id,change_count
0,12,12,12,"Malet Street, Bloomsbury",51.521681,-0.130432,25,40,26,49,2010-08-06 01:00:00,2020-02-14 17:38:02,"[364, 287]","[364, 287, 88, 19, 796]",12,38553
1,116,116,116,"Little Argyll Street, West End",51.514500,-0.141424,12,21,5,21,2010-08-06 01:00:00,2020-02-14 17:38:02,"[349, 159]","[159, 349, 313, 106, 141]",116,37611
3,32,32,32,"Leonard Circus , Shoreditch",51.524696,-0.084439,17,21,9,43,2010-08-06 01:00:00,2020-02-14 17:38:02,[323],"[323, 73, 58, 3, 319]",32,40529
6,195,195,195,"Milroy Walk, South Bank",51.507244,-0.106238,3,30,19,30,2010-08-06 01:00:00,2020-02-14 17:38:02,"[839, 230, 240, 792]","[839, 240, 230, 792, 420]",195,36805
7,66,66,66,"Holborn Circus, Holborn",51.517950,-0.108657,39,39,26,40,2010-08-06 01:00:00,2020-02-14 17:38:02,"[546, 67, 835]","[546, 67, 835, 84, 112]",66,49363

In [4]:
df_exg=pd.read_csv('SampleData/exg_df.csv',index_col=0)

df_exg.head()

,timestamp,trip_count,temp,pressure,wind_speed,rain_1h,humidity,clouds_all,Clear,Clouds,...,Smoke,Snow,Thunderstorm,is_weekend,is_holiday,trip_log,is_non_workday,hour,is_rushhour,is_day
0,2018-01-01 00:00:00,754,280.27,996,9,0.0,70,68,0,1,...,0,0,0,0,1,6.626718,1,0,0,0
1,2018-01-02 00:00:00,90,279.16,1009,4,0.0,75,48,0,1,...,0,0,0,0,0,4.510860,0,0,0,0
2,2018-01-03 00:00:00,70,285.27,988,11,3.0,76,92,0,0,...,0,0,0,0,0,4.262680,0,0,0,0
3,2018-01-04 00:00:00,121,280.77,1001,6,0.0,75,40,0,1,...,0,0,0,0,0,4.804021,0,0,0,0
4,2018-01-05 00:00:00,94,278.85,993,3,0.3,81,92,0,0,...,0,0,0,0,0,4.553877,0,0,0,0

In [5]:
missing_data=pd.read_csv('SampleData/missing_data',index_col=0)
useless_stations=[]
for i in missing_data.columns:
    
    if int(i) in [1,3,5,7,8,10,12]:
           
        useless_stations.extend(list(missing_data.loc[missing_data[i] > (0.15*22320)].index))
    elif int(i)==2:
        useless_stations.extend(list(missing_data.loc[missing_data[i] > (0.15*20160)].index))

    else:
        useless_stations.extend(list(missing_data.loc[missing_data[i] > (0.15*21600)].index))

In [6]:
start_dates=['2018-01-01','2018-02-01','2018-03-01','2018-04-01','2018-05-01','2018-06-01','2018-07-01','2018-08-01',
             '2018-09-01','2018-10-01','2018-11-01','2018-12-01']
end_dates=['2018-01-31','2018-02-28','2018-03-31','2018-04-30','2018-05-31','2018-06-30','2018-07-31','2018-08-31'
           ,'2018-09-30','2018-10-31','2018-11-30','2018-12-31']

In [7]:
freq=60 #the original freq of data is 2 minutes interval
time_offset=60 #for how many minutes ahead we want to predict
#forecast_steps=int(time_offset/freq) #number of predictions that we need to predict time_offset ahead
test_days=7 #the number of days for test
test_size=int(test_days*24*60/freq) 
forecast_steps=int(time_offset/freq)
window_size=int(4*60/freq)
Stations=list(df_station['ucl_id'])

In [8]:
#xtest_size=int((test_days-1)*24*60/freq)
xtest_size=164

In [9]:
def create_var_df(station_id):
    neighbors=ast.literal_eval(df_station[df_station['ucl_id']==station_id]['neighbors_1'].values[0])
    
    var_df=data.copy()
    #print(neighbors)
    for n in neighbors:
        if n not in useless_stations:

            df_neighbor= df[df['operator_id']==n]
            total_dock_neighbor=df[df['operator_id']==int(n)]['total_docks'].values[0]            
            df_neighbor=utils.clean_df(df_neighbor,n,start_date,end_date,freq)
            df_neighbor=utils.normalize(df_neighbor,total_dock_neighbor)
            anomalies_n=utils.anomaly_detection(df_neighbor,freq)
            df_neighbor=utils.anomaly_removal(anomalies_n,df_neighbor)
           
            var_df['spaces_'+str(n)] = pd.Series(df_neighbor['spaces_'+str(n)])
    var_df=var_df.fillna(method='ffill')
    var_df=var_df.fillna(method='bfill')
    
    return var_df

In [10]:
from statsmodels.tsa.stattools import grangercausalitytests
def grangers_causation_matrix(df_temp, variables, test='ssr_chi2test'):   
    
    """Check Granger Causality of all possible combinations of the Time series.
    The rows are the response variable, columns are predictors. The values in the table 
    are the P-Values. P-Values lesser than the significance level (0.05), implies 
    the Null Hypothesis that the coefficients of the corresponding past values is 
    zero, that is, the X does not cause Y can be rejected.

    data      : pandas dataframe containing the time series variables
    variables : list containing names of the time series variables.
    """
    maxlag=12
#     df_grangers = pd.DataFrame(np.zeros((len(variables), len(variables))), columns=variables, index=variables)
#     for c in df_grangers.columns:
#         for r in df_grangers.index:
    
    for col in variables[1:]:
        test_result = grangercausalitytests(df_temp[[variables[0], col]], maxlag=maxlag, verbose=False)
        p_values = [round(test_result[i+1][0][test][1],4) for i in range(maxlag)]
        #if verbose: print(f'Y = {r}, X = {c}, P Values = {p_values}')
        min_p_value = np.min(p_values)
        if min_p_value>0.05:
            df_temp=df_temp.drop(col,axis=1)

#     df_grangers.columns = [var + '_x' for var in variables]
#     df_grangers.index = [var + '_y' for var in variables]
    return df_temp
        

#

In [11]:
def remove_seasonality(temp_df,test_size):
    df_temp=temp_df.copy()
    avgs=df_temp[0:-test_size].groupby([df_temp[0:-test_size].index.dayofweek,df_temp[0:-test_size].index.time]).mean()
    for name, column in (df_temp.iteritems()):
        df_temp[name+'_avg'] = df_temp.index.map(lambda d: avgs.loc[(d.dayofweek,d.time()),name])
        df_temp[name] = df_temp[name] - df_temp[name+'_avg']
    
        #df_temp=df_temp.drop(name+'_avg',axis=1)
    n_cols=len(list(df_temp.columns))
    df1 = df_temp.iloc[:, :int(n_cols/2)] #var_df
    df2 = df_temp.iloc[:, int(n_cols/2):] #vard_df_avg
    return df1,df2

In [12]:
def add_seasonality(df1,df2):
    df_1=df1.copy()
    df_2=df2.copy()
    for name, column in (df_1.iteritems()):
        
        df_1[name] = df_1[name] + df_2[name.split('_forecast_')[0]+'_avg']
    return df_1

In [30]:
def varx(p_order,station_id,d):
    global i
    global summaries
    global model_times
    forecasts=[]
    tests=[]
    df_exg_history= data_exg_train.copy()
    df_history=df_train.copy()
    t0=test_size ##neded for reverse the diff

    # walk-forward validation
    for t in range(0,len(df_test),window_size):
        predictions=np.zeros((0,len(df_train.columns)))
        result={}
        df_history.index = pd.DatetimeIndex(df_history.index.values,
                                   freq=df_history.index.inferred_freq)
        # fit model and predict
#         print(df_history[-len(df_train):].head())
#         print(df_exg_history[-len(df_train):].head())
        start=time.time()
        model  = VARMAX(df_history[-len(df_train):],exog=df_exg_history[-len(df_train):],order=(p_order, 0))
        model_fitted = model.fit(disp=False)   

        df_forecast = model_fitted.forecast(steps=window_size,exog=data_exg_test[t:t+window_size])  
        #print(fc)
        ### update indogenous and exogenous dataframes
        df_history = df_history.append(df_test[t:t+window_size])
        df_exg_history=df_exg_history.append(data_exg_test[t:t+window_size])
        
        ###create the forecast dataframe

        df_forecast.columns = [ col+ '_forecast_'+str(d) for col in df_forecast.columns]

        #######bring data back to normal scale 
        df_forecast=utils.invert_transformation_forecast(var_df_original, df_forecast,t0,diff_count=d)
       
        df_forecast= add_seasonality(df_forecast,df_test_avg[t:t+window_size])  
        df_forecast=utils.inverse_normalize(df_forecast,total_dock)
        
        df_actual= utils.invert_transformation_test(var_df_original, df_test[t:t+window_size],t0,diff_count=d)

        df_actual= add_seasonality(df_actual,df_test_avg[t:t+window_size])
        df_actual=utils.inverse_normalize(df_actual,total_dock) 
        t0=test_size +window_size
        df_forecast= utils.forecast_truncate(df_forecast,total_dock)
        
        ######################write to file
        forecasts.extend(list(df_forecast.iloc[:,0].values))
        tests.extend(list(df_actual.iloc[:,0].values))

        if ((t+window_size)%(6*window_size) == 0):
                result['day']=df_forecast.index[1].dayofweek
                result['month']=df_forecast.index[1].month
                result['station_id']=station_id
    #             result['predict']=list(df_forecast.iloc[:,0].values)
    #             result['test']=list(df_actual.iloc[:,0].values)
                result['predict']=forecasts
                result['test']=tests

                with open('report/test/VARX/'+'varx_result_'+str(station_id)+'_'+str(i)+'.json', 'w+') as f:
                #with open('report/SARIMA/'+str(freq)+'minutes/sarima_result_'+str(station_id)+'_'+str(i)+'.json', 'w+') as f:
                    f.write(json.dumps(result))
                i=i+1
                forecasts=[]
                tests=[]

In [31]:
def Sarima(p,d,q,station_id):
    global i
    global summaries
    global model_times
    forecasts=[]
    tests=[]
    df_exg_history= data_exg_train.copy()
    df_history=df_train.copy()
    t0=test_size ##neded for reverse the diff
    
    t0=test_size ##neded for reverse the diff  
    
    # walk-forward validation
    
    
    for t in range(0,len(df_test),window_size):
        result={}
        predictions = list()
        #because of the warning for frequency
        df_history.index = pd.DatetimeIndex(df_history.index.values,
                                   freq=df_history.index.inferred_freq)
        # fit model
        start=time.time()
        model = SARIMAX(df_history[-len(df_train):],order=(p,d,q),seasonal_order=(0,0,0,0),
                        enforce_stationarity=False, enforce_invertibility=False,
                        exog=df_exg_history[-len(df_train):], time_varying_regression=True, mle_regression=False)

        model_fit = model.fit()
        end=time.time()
        model_times.append(end-start)

        yhat = model_fit.forecast(steps=window_size,exog =data_exg_test[t:t+window_size])
     
        ### update indogenous and exogenous dataframes
        df_history = df_history.append(df_test[t:t+window_size])
        df_exg_history=df_exg_history.append(data_exg_test[t:t+window_size])
        
        #df_forecast = pd.DataFrame(yhat, index=df_test.index[t:t+window_size], columns=df_train.columns + '_forecast_'+str(d))
        predictions.extend(yhat)

        if t==xtest_size:
            df_forecast = pd.DataFrame(predictions, index=data.index[-test_size+t:], columns=data.columns + '_forecast_'+str(d))
        else:
            df_forecast = pd.DataFrame(predictions, index=data.index[-test_size+t:-test_size+t+window_size], 
                                       columns=data.columns + '_forecast_'+str(d))
        
        #######bring forecast data back to normal scale 
       
        df_forecast= add_seasonality(df_forecast,df_test_avg[t:t+window_size])  
        #df_forecast=utils.invert_transformation_forecast(data_original, df_forecast,t0,diff_count=d)
        df_forecast=utils.inverse_normalize(df_forecast,total_dock)
        
        ####bring test data back to normal scale 
        df_actual= add_seasonality(df_test[t:t+window_size],df_test_avg[t:t+window_size])
       
        #df_actual= utils.invert_transformation_test(data_original, df_test,t0,diff_count=d)
        df_actual=utils.inverse_normalize(df_actual,total_dock) 
        
       
 
        t0=test_size +window_size
        
        df_forecast= utils.forecast_truncate(df_forecast,total_dock)
        ######################write to file
        forecasts.extend(list(df_forecast.iloc[:,0].values))
        tests.extend(list(df_actual.iloc[:,0].values))

        if ((t+window_size)%(6*window_size) == 0):
                result['day']=df_forecast.index[1].dayofweek
                result['month']=df_forecast.index[1].month
                result['station_id']=station_id
    #             result['predict']=list(df_forecast.iloc[:,0].values)
    #             result['test']=list(df_actual.iloc[:,0].values)
                result['predict']=forecasts
                result['test']=tests

                with open('report/test/VARX/'+'varx_result_'+str(station_id)+'_'+str(i)+'.json', 'w+') as f:
                #with open('report/SARIMA/'+str(freq)+'minutes/sarima_result_'+str(station_id)+'_'+str(i)+'.json', 'w+') as f:
                    f.write(json.dumps(result))
                i=i+1
                forecasts=[]
                tests=[]
#         break
    #return df_forecast

In [32]:
start=time.time()
summaries=[]
model_times=list()
p_order_times=[]
p_orders=[]
i=1308
for t in range(5,12):
  
    start_date=start_dates[t]
    end_date=end_dates[t]        
    print(start_date)
    data_exg_original=utils.clean_exg_df(df_exg,start_date,end_date,freq)


    for station_id in Stations:        
        
        
        total_dock=df[df['operator_id']==int(station_id)]['total_docks'].values[0]
        data=df[df['operator_id']==station_id]
        
        #data prepration     
        data=utils.clean_df(data,station_id,start_date,end_date,freq)
        data=utils.normalize(data,total_dock)
 
        anomalies=utils.anomaly_detection(data,freq)
        data=utils.anomaly_removal(anomalies,data)
        
        var_df=create_var_df(station_id)

        var_df_original=grangers_causation_matrix(var_df, variables = list(var_df.columns))
        #remove trend if there is any
        var_df_original,var_df_avg=remove_seasonality(var_df_original,test_size)
        var_df,d=utils.make_Stationary(var_df_original)
        
        data_exg=data_exg_original[data_exg_original.index.isin(var_df.index)]
        df_train, df_test = var_df[0:len(data)-test_size], var_df[len(data)-test_size:]
        df_train_avg, df_test_avg = var_df_avg[0:len(data)-test_size], var_df_avg[len(data)-test_size:]
        data_exg_train,data_exg_test= data_exg[0:len(data)-test_size], data_exg[len(data)-test_size:]

        if len(list(var_df.columns))>1:                   
            start=time.time()
            model = VAR(df_train)
            x=model.select_order(maxlags=12)
            p=x.selected_orders['bic']
            end=time.time()
            p_order_times.append(end-start)
            if (p>0):
                varx(p,station_id,d)
            else:
                p=2
                varx(p,station_id,d)
        else:
            print(station_id)
            
            Sarima(2,d,0,station_id)
        p_orders.append(p)



# end=time.time()

2018-06-01
32
130
278
73
213
732
2018-07-01
32
194
130
278
213
732
2018-08-01
32
130
278
732
2018-09-01
32
130
278
732
2018-10-01
32
130
278
73
732
2018-11-01
32
130
107
213
732
2018-12-01
32
130
278
73
246
107
213
732

In [33]:
# df_summaries=pd.concat(summaries)
# df_summaries.to_csv('varx_summary.csv')

In [36]:
with open('varx_orders.txt', 'w+') as f:
    for item in p_orders:
        f.write("%s\n" % item)

In [35]:
 with open('varx_model_time.txt', 'w+') as f:
        for item in model_times:
            f.write("%s\n" % item)